.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.activity__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  position: absolute;
  bottom: 27px;
  left: 83px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.activity__list {
  margin-left: -30px;
  display: flex;
}

.advantages {
  padding-top: 94px;
}

.advantages__subject {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  align-items: center;
}

.advantages-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-icons {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden.backdrop-form {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

body {
  background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  --first-title-color: #ffffff;
  --second-title-color: #000000;
  --accent-color: #ffffff;
  --button-color: #2196f3;
  --icons-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-o {
  align-items: center;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
}

.client-li :not(:last-child) {
  margin: right 8px;
}

.client-li {
  height: 92px;
  width: 170px;
}

.clients-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.client-item:hover,
.client-item:focus {
  border: 1px solid var(--button-color);
  fill: var(--button-color);
  transition: fill 250ms var(--timing-function);
}

.client-item {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-color);
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 250ms var(--timing-function);
}

.mobal-button-close:hover {
  fill: var(--button-color);
}

.mobal-button-close:focus {
  fill: var(--button-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transform: rgba(255, 255, 255, 0.6) 250ms var(--timing-function);
}

.footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 30px;
  color: #2196f3;
  text-decoration: none;
}

.footer-pre {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-li:not(:last-child) {
  margin-right: 10px;
}

.footer-o-pre {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-adress-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.footer-link {
  text-decoration: none;
  font-style: normal;
}

.footer-list {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-join {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-o {
  display: flex;
  align-items: baseline;
}

.footer-join__title {
  font-family: 'Roboto';
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-join__link {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  fill: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.footer-join__icon {
  height: 20px;
  width: 20px;
}

.footer-join__link:hover,
.footer-join__link:focus {
  background-color: var(--button-color);
  transition: color 250ms var(--timing-function);
}

.footer-container-ul {
  display: block;
  margin-right: 70px;
}

.footer-join__list {
  display: flex;
}

.header {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-item {
  padding-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-item {
    margin-bottom: 10px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}

.header-connect {
  margin-left: auto;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
  flex-direction: column;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 46px;
  background-color: #2196F3;
  border-radius: 2px;
  transition: opasity 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  bottom: -34px;
}

.header-link:hover::after {
  opacity: 1;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: #757575;
  transform: color 250ms var(--timing-function);
}

.header-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  margin-top: 350px;
  margin-bottom: 200px;
}

.header-btn {
  background: #2196f3;
  margin: 0 auto;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transform: rgba(255, 255, 255, 0.6) 250ms var(--timing-function);
}

.header-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    text-align: left;
    margin-left: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    margin-left: 93px;
  }
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #3e3e44;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--accent-color);
  padding-top: 43px;
  padding-left: 24px;
  padding-bottom: 83px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio__item {
  background: #ffffff;
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio__definition {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-top: 30px;
  display: block;
  margin-left: 30px;
  width: 370px;
  background: #ffffff;
}

.portfolio__link {
  position: relative;
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
  transform: translateY(0%);
}

.portfolio-o-pre-title {
  width: 370px;
  margin-left: 30px;
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio__borders {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-social:hover,
.button-social:focus {
  background-color: var(--button-color);
  fill: var(--accent-color);
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-color);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.button-social:hover,
.button-social:focus {
  background-color: var(--button-color);
  fill: var(--accent-color);
}

.socials__link {
  text-decoration: none;
}

.team__name {
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
}

.team__list {
  margin-left: -30px;
  display: flex;
}

.team__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__workers {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 250ms var(--timing-function);
}

.mobal-button-close:hover {
  fill: var(--button-color);
}

.mobal-button-close:focus {
  fill: var(--button-color);
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-block {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.modal-block input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  resize: none;
}

.modal__comment:hover,
.modal__comment:focus {
  border: 1px solid var(--button-color);
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check-icon.svg);
  background-origin: content-box;
  background-size: contain;
  background-position: center;
  border: 0.2px solid #FFFFFF;
}

.checkbox:focus + .check-icon {
  border-color: var(--button-color);
}

:root {
  --first-title-color: #ffffff;
  --second-title-color: #000000;
  --accent-color: #ffffff;
  --button-color: #2196f3;
  --icons-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn__icon {
  width: 44px;
  height: 44px;
}

.menu-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.menu-social-item:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-link {
  display: block;
  text-decoration: none;
  color: #2196F3;
  padding-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-btn {
  position: relative;
  display: flex;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon-open {
  opacity: 1;
}

.menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu {
    width: 338px;
  }
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  z-index: 10;
  background-color: #ffffff;
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-overlay {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.mobile-overlay.is-open {
  transform: translateX(0%);
  visibility: visible;
  pointer-events: initial;
}

.mobile-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: #2196F3;
}

.mobile-contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #2196F3;
}

.mail-contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-nav__item {
  margin-bottom: 35px;
}

.mobile-nav__list {
  margin-bottom: 302px;
}

.mobile-contacts {
  margin-bottom: 32px;
}

.mail-contacts {
  margin-bottom: 64px;
}
/*# sourceMappingURL=main.css.map */