.activity {
    padding-top: 94px;
    padding-bottom: 94px;
}

.activity__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}