.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    

}

.advantages__subject {
color: black;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
text-transform: uppercase;
    text-align: center;
margin-bottom: 10px;

@media screen and (min-width: 768px) {
    text-align: initial;
}
}

.advantages__text {
width: 100%;
font-size: 14px;
line-height: 1.7;

@media screen and (min-width: 480px) {
    width: 450px;

}

@media screen and (min-width: 768px) {
    width: 354px;
}

@media screen and (min-width: 1200px) {
    width: 270px;
}
}

.advantages-list {


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    
    }
    @media screen and (min-width: 1200px) {
        display: flex;

    }
}

.advantages-item:not(:last-child){
    margin-right: 30px;
}


.advantages-item {


@media screen and (max-width: 767px) {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% / 2 - 2 * 15px));
    margin-right: 30px;
    margin-bottom: 30px;
}
}


.advantages-icons {
    
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #F5F4FA;
    margin-bottom: 30px;
}
