body {
    background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2{
        margin-bottom: 30px;
        color: #212121;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

:root {
    --first-title-color: #ffffff;
    --second-title-color: #000000;
    --accent-color: #ffffff;
    --button-color: #2196f3;
    --icons-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
@media screen and (min-width: 480px) {
    width: 480px;
}
@media screen and (min-width: 768px) {
    width: 768px;
}
@media screen and (min-width: 1200px) {
    width: 1200px;
}
}