.footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transform: rgba(255, 255, 255, 0.6) 250ms var(--timing-function);
}

.footer {
    position: relative;
    padding-top: 60px;
    background-color: #2f303a;
}

.subscribe-footer {
    padding-bottom: 20px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.subscribe-button {

    display: inline-block;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    margin: 0;
    margin-left: 12px;
    padding-bottom: 10px;
    background-color: var(--button-color);
    color: var(--title);
    border-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.subscribe-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.subscribe-input {
    outline: none;
    background-color: inherit;
}

.form{
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;


@media screen and (max-width: 1199px) {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    margin-left: 93px;
}}

.form-field {
    padding-bottom: 20px;
    display: inline-block;
    flex-direction: row;
}

.form-field input {
    width: 340px;
    height: 50px;

    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;


    @media screen and (min-width: 1200px) {
        padding-left: 93px;
    }
}

.form-field input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    font-family: "Raleway";
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}

.footer-pre {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-li:not(:last-child) {
    margin-right: 10px;
}

.footer-o-pre {
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-adress-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
}

.footer-link {
    text-decoration: none;
    font-style: normal;
}

.footer-list {
    display: flex;
    align-items: baseline;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-join {
    margin-bottom: 60px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;


    

}

.footer-o {
    display: block;
    align-items: baseline;

    @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        justify-content: center;
    }
    
    @media screen and (min-width: 768px) {
        .footer-tablet {
            display: flex;
            justify-content: space-around;
            text-align: center;
            align-items: baseline;
            margin-bottom: 60px;
        }
}

    @media screen and (min-width: 1200px) {
        .footer-tablet {
            text-align: left;
        }
    
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.footer-join__title {
    font-family: 'Roboto';
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-join__link {
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    fill: var(--accent-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function);
}

.footer-join__icon {
    height: 20px;
    width: 20px;
}

.footer-join__link:hover,
.footer-join__link:focus {
    background-color: var(--button-color);
    transition: color 250ms var(--timing-function);
}

.footer-container-ul {

    display: block;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
    }
    
    .footer-list-conteiner {
        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
}

.footer-join__list {
    display: flex;
}