.menu-btn{
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    margin-left: auto;
}

.menu-btn__icon{
    width: 40px;
    height: 40px;
}

.menu-btn__icon-open{
    opacity: 1;
}

.menu-btn__icon-close{
    opacity: 0;
}